<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        ngModel
        minlength="3"
        placeholder="Post Title *"
        #title="ngModel"
        required
      />
      @if(title.invalid){
      <mat-error>Please enter post title</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="content"
        ngModel
        placeholder="Post Content *"
        #content="ngModel"
        required
      ></textarea>
      @if(content.invalid){
      <mat-error>Please enter post content</mat-error>
      }
    </mat-form-field>
    <button color="primary" mat-raised-button>Save Post</button>
  </form>
</mat-card>
