<mat-card>
  <form (submit)="onAddPost()" #postForm>
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Enter title"
        [(ngModel)]="enteredTitle"
      />
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="5"
        [(ngModel)]="enteredContent"
        placeholder="Enter post content"
      ></textarea>
    </mat-form-field>
    <button color="primary" mat-raised-button (click)="onAddPost()">
      Save Post
    </button>
  </form>
</mat-card>
